body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  
  /* background: white; */
  background: #fff3b4;
}

/* #box{
  top: 50%;
} */

.box{
  width: 300px;
  padding: 40px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%,-50%); */
  background: #e4572e;
  /* background: #fdfd96; */
  text-align: center;
  /* box-shadow: 5px 5px #f0932b; */
}
.box h1{
  /* color: #2c3e50; */
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "date"],.box input[type = "email"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  /* border: 2px solid #f0932b; */
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  /* color: #2c3e50; */
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25s;
}

.reveal-password{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid white;
  width: 200px;
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25s;
  padding: 0px 10px;
}

.reveal-password input[type = "password"],.reveal-password input[type = "text"]{
  outline: none;
  background: transparent;
  border: 0px solid;
  padding: 14px 0px;
  padding-left: 24px;
  text-align: center;
  color: white;
  margin: auto;
  width: auto;
  display: initial;
  width: 140px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px #e4572e inset !important;
    -webkit-box-shadow: 0 0 0 30px #e4572e inset !important;
    -webkit-text-fill-color: white !important;
}

.box select{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  /* border: 2px solid #f0932b; */
  border: 2px solid white;
  padding: 14px 80px;
  width: 230px;
  outline: none;
  /* color: #2c3e50; */
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25s;
}

.box select:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: transparent transparent transparent transparent;
}



.box option{
  color:black;
  background-color: #e4572e;
}

.box option:checked{
  background-color: #fff3b4;
} 

.box option:disabled{
  display: none;
}

.box ::placeholder {  
  color: whitesmoke; 
  /* color: #7f8c8d;  */
} 

/* .box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
  width: 280px;
  border-color: #f0932b;
}  */



.box button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  /* border: 2px solid #f0932b; */
  padding: 14px 40px;
  outline: none;
  color: white;
  /* color: #34495e; */
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box button:hover{
  /* background: #f0932b; */
  background: white;
  color: #f0932b;
}
.box a{
    text-decoration: none;
    color: black;
    /* color: #d35400; */
    font-size: 12px;
}
.box label{
  color: white;
  font-size: 12px;
}

  /* bootstrap */

  .text-success {
    color: #28a745 !important;
  }
  
  a.text-success:hover, a.text-success:focus {
    color: #19692c !important;
  }

  .text-center {
    text-align: center !important;
  }

  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-danger hr {
    border-top-color: #f1b0b7;
  }
  
  .alert-danger .alert-link {
    color: #491217;
  }
  
  .h-100 {
    height: 100% !important;
  }

  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 0%;
    max-width: 50%;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
  


.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}